@layer reset, general, base, special;

@import "./reset.css" layer(reset);

@import "./general.css" layer(general);


@layer base {
  form {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content:  space-between;
    gap: 8px;
  }

  form * {
    padding: 8px 0;
  }

  section {
    margin: 5rem 0;
    
  }


  .grid-container {
    display: grid;
  }

  .movie-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    grid-auto-rows: max-content;
  }

  .movie-card p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@layer special {
  .result-button {
    border: 1px solid rgb(0 0 0 / 0);
  }

  .result-button:hover {
    border: 1px solid rgb(var(--app-blue));
    background-color: rgb(var(--app-blue-second));
  }
}